@use "sass:math";

// 함수 => 사용할 속성 ':'뒤에 함수 선언. ex) width: per(265,300,vw);
// px -> vh/vw/percent 단위로 변경할 때 자동으로 계산하는 함수 - 소수점 둘째자리까지 나타냄
@function per($target, $base, $unit) {
  $calc: round((math.div($target, $base) * 100) * 100);
  $calc2: math.div($calc, 100); // 소수점 2자리 이하 버림
  $result: $calc2 + $unit;

  @return $result;
}
