// default font setting
body {
  background-color: #f0f0f0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0;
}
