// 기본 경로
$IMG_PATH: '/assets/img/';
$FONT_PATH: '/assets/fonts/';

// 기본 폰트 굵기
$FONT_THIN: 100;
$FONT_EXTRALIGHT: 200;
$FONT_LIGHT: 300;
$FONT_REGULAR: 400;
$FONT_MEDIUM: 500;
$FONT_SEMIBOLD: 600;
$FONT_BOLD: 700;
$FONT_EXTRABOLD: 800;
$FONT_BLACK: 900;

// 분기별 스크린 너비
$S_SCREEN: 380px;
$M_SCREEN: 735px;
$L_SCREEN: 1320px;

// 섹션 안 inner의 max_width값
$S_SPACING: 18px;
$M_MAX_WIDTH: 668px;
$L_MAX_WIDTH: 1120px;

$BODY_MIN_WIDTH: 280px;

// 색상
$COLOR_DEFAULT: #88767b;
$COLOR_PRIMARY: #9968a5;
$COLOR_SECONDARY: #381f26;

$COLOR_DARK_BROWN: #482a32;
$COLOR_LIGHT_BROWN: #6e5b60;
$COLOR_BROWN: #624f54;

:root {
  --COLOR01: #f4ecf1;
  --COLOR02: #dfd5d7;
  --COLOR03: #beb3b8;
  --COLOR04: #88767b; // $COLOR_DEFAULT
  --COLOR05: #624f54; // $COLOR_BROWN
  --COLOR06: #482a32; // $COLOR_DARK_BROWN
  --COLOR07: #381f26; // $COLOR_SECONDARY
  --COLOR08: #9968a5; // $COLOR_PRIMARY
  --COLORHOVER: #8a5497;
}
