@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        min-width: 360px;
        font-family: 'Noto Sans CJK KR';
    }
    #root {
        min-height: 100vh;
    }
    .container-wb {
        width: 100%;
        max-width: 1024px;
        margin: 80px auto 0;
        padding: 20px;
    }
    @media (min-width: 768px) {
        .container-wb {
            padding: 40px;
        }
    }
    body::-webkit-scrollbar {width: 15px;}
    body::-webkit-scrollbar-button {width:8px;height:0;background:transparent;}
    body::-webkit-scrollbar-track {background-color:transparent;}
    body::-webkit-scrollbar-thumb {background-color: rgba(251, 146, 60, 0.8);background-clip: padding-box;}
    body::-webkit-scrollbar-thumb:hover {background-color: rgba(251, 146, 60, 1);cursor: default;}

    .scrollbar::-webkit-scrollbar {width: 15px;}
    .scrollbar::-webkit-scrollbar-button {width:8px;height:0;background:transparent;}
    .scrollbar::-webkit-scrollbar-track {background-color:transparent;border-radius: 30px;}
    .scrollbar::-webkit-scrollbar-thumb {background-color: rgba(251, 146, 60, 0.8);border-radius: 30px;background-clip: padding-box;border: 6px solid transparent;}
    .scrollbar::-webkit-scrollbar-thumb:hover {background-color: rgba(251, 146, 60, 1);cursor: default;}
}