.category-nav {
    margin-top: 80px;
    width: 100%;
    /* max-width: 1024px; */
    background-color: white;
}

.category {
    width: 100%;
    padding: 0 20px;
}

.drop-box {
    top: 190px;
    width: 95px;
    z-index: 10;
}

/* .drop-background {
    display: flex;
    position: fixed;
    margin: 0 auto;
    z-index: 980;
    max-width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
} */
