
@keyframes slot {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: -150px;
    }
    20% {
        margin-top: -300px;
    }
    30% {
        margin-top: -450px;
    }
    40% {
        margin-top: -600px;
    }
    50% {
        margin-top: -750px;
    }
    60% {
        margin-top: -900px;
    }
    70% {
        margin-top: -1050px;
    }
    80% {
        margin-top: -1200px;
    }
    90% {
        margin-top: -1350px;
    }
    100% {
        margin-top: -1500px;
    }
}
@keyframes shift_lever_rod { 
    0% {transform: translateY(0) scaleY(1)} 
    50% {transform: translateY(70px) scaleY(0.05)}
    100% {transform: translateY(0) scaleY(1)} 
}
@keyframes shift_lever_top { 
    0% {transform: translateY(0%)}
    50% {transform: translateY(calc(50% + 100px))}
    100% {transform: translateY(0%)}
}
#lever.animation .bar {
    transform-origin: center;
    animation: 1s shift_lever_rod ease-in-out;
}
#lever.animation .circle {
    animation: 1s shift_lever_top ease-in-out;
}
.slot-box.animation {
    animation: 1s slot ease-in-out;
}
