.swiper {
  padding-bottom: 20px;
  padding-top: 45px;
}
.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f97316;
  margin: 0;
  top: 0;
  right: 0;
  transform: translateY(0);
}
.swiper-button-prev {
  left: auto;
  right: 40px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 10px;
  color: #fff;
}